@media (max-width: 767px) {
  header {
    form {
      margin: 20px 0 !important;
    }
  }

  #banner-promocionais {
    display: none;
  }

  .produtos {
    .produtos-container {
      img {
        width: 100%;
      }
    }

  }

  footer {
    h4 {
      margin-top: 8px;
    }
  }
}

@media(max-width:991px) {
  header {
    ul {
      li {
        margin: 10px 0;
      }
    }
  }
}

@media(max-width:375px) {
  .banners-promocionais-statico {

    .banners-promocionais-statico-12x,
    .banners-promocionais-statico-todo-br {
      p {
        font-size: 14px;
      }
    }

  }
}

@media(max-width:991px) {}